<header>
    <nav>
        <a href="/items" class="nav-title">Inventory</a>
        <div class="nav-links">
            <a href="/items" class="nav-items">Items</a>
            <a href="/categories" class="nav-categories">Categories</a>
        </div>
    </nav>
</header>