<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
</head>
<body>
    <%- include("partials/header") %>

    items, query_categories, categories

    <main>
        <div class="inventory-title">
            Inventory
        </div>
        <div class="controls">
            <div class="control-filter">
                <button type="button" id="control-filter-button">Filter</button>
                <ul class="control-filter-popup">
                    
                </ul>
            </div>
        </div>
    </main>

    <%- include("partials/footer") %>
</body>
</html>